/.DS_Store
/.conda
/AGENDA SEMANAL Carmen - Hoja 1.csv
/AGENDA SEMANAL Miriam - Hoja 1.csv
/BASE DE DATOS PACIENTES - Pacientes.csv
/DB1.xlsx
/DB2.xlsx
/OldAgenda - oldAgenda.csv
/client_secret_121260128025-mn3pj3non1n714rtdonqnm4f3dqv03ap.apps.googleusercontent.com.json
/oldAgenda.csv